body{
    margin: 0;
    padding: 0;
    background:  rgb(235, 232, 232);
}
header{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 2px 2px;
    border: 0;
    height: 50px;
    background: blue;
}
p{
   width: 350px; 
   
   text-align:center;
   margin: 10px 10px;
}
img{
    width: 70%;
	height: 270px;

    transition: all 2s;
 
    margin: 10px;
}


th:hover {
        opacity: 0.3;
        transition: 1s;
        background-color: rgba(40, 60, 172, 0.9);
     border-radius: 20%;
    }
    th img:hover {
        border-radius: 40%;
        
    }
 table{
     width: 100%;
      }   
tr{
    height: 350px;
    width: 100%;
    margin: 0;
    max-height: 400px;
  
   
}
th{
    background: rgb(112, 112, 112);
    min-width: 100px;
    margin: 4% 4%;
    border: 14px solid rgb(235, 232, 232);
   
}


	
/* <div id="tabla5">
            <img src="../Imagenes/img-perfil.jpg" alt="" srcset="">
        </div>*/