.contenedor{
background-color: black;
background-image: url(../Imagenes/Magazines.jpg);
background-size: cover;
height: 540px;
width: 100%;
position: relative;
display: flex;
}
.contenedoruno{
    background-color: rgb(48, 46, 134) ;
    height: 70px;
    width: 100%;
  
  
  }
.contenedor:before{
content: "";    
height: 100%;
width: 100%;
background-color:rgb(28, 28, 34);

position: absolute;
opacity: 0.9;

}

#registro{
  height: 300px;
  width: 30%;
  height: 60%;

  margin: auto;

  position: relative;

padding: 25px;

}
#quote>h1{
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  position: relative;
 
 
 }
#quote{

 margin: auto;
 width: 48%;
 text-align: justify;
 padding-top: 20px;
 

}
section{
  border: solid;
  width: 100%;
}

body{
    background-color: rgb(228, 213, 213);
}
/* height: 300px;
width: 50%;
height: 60%;
border: solid blue;
margin-left: 50%;
<%@include file="../Html/formulario-html.html" %>
*/